@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
};

@utility clip-path-* {
  clip-path: polygon(--value([*]));
}

@utility animate-delay-* {
  animation-delay: --value([*]);
}

@utility clip-path-triangule {
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

@theme inline {

  --font-roboto: Roboto, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-louis-george-cafe: Louis George Cafe, sans-serif;
  --font-coolvetica: Coolvetica, sans-serif;

  --color-primary-1: #482EA6;
  --color-primary-2: #3D278C;
  --color-primary-3: #331A8F;
  --color-primary-4: #210E69;
  --color-primary-5: #17113A;
  --color-primary-6: #0F0B26;
  --color-secondary-1: #FFC311;
  --color-secondary-2: #FFB01C;
  --color-secondary-3: #D0A30F;
  --color-secondary-4: #18A933;

  --color-variation-1: #EAE5FF;
  --color-variation-2: #FFF6D9;

  --animate-opacity: opacity 2s infinite ease-out;
  --animate-flame-1: flame-1 3s infinite ease-out;
  --animate-flame-2: flame-2 5s infinite ease-out;
  --animate-smoke: smoke 5s linear infinite;
  --animate-loading: loading 0.7s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 200%;
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes flame-1 {
  0%, 100% {
    translate: 0 0;
    rotate: 0;
  }
  50% {
    translate: 0 -2px;
    rotate: -3deg;
  }
}

@keyframes flame-2 {
  0%, 100% {
    translate: 0 0;
    rotate: 0;
  }
  50% {
    translate: 0 -7px;
    rotate: 4deg;
  }
}

@keyframes smoke {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  50% {
    transform: translateY(-100%) scaleX(5);
  }
  95%{
    opacity: 0;
  }
  100% {
    transform: translateY(-200%) scaleX(10);
  }
}

@layer {
  /* FONT ROBOTO */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/Roboto-VariableFont_wdth\,wght.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf) format(truetype);
  }

  /* FONT INTER */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
  }

  /* FONT LOUIS GEORGE CAFE */
  @font-face {
    font-family: 'Louis George Cafe';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/louis-george-cafe/Louis\ George\ Cafe\ Light.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Louis George Cafe';
    font-style: italic;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/louis-george-cafe/Louis\ George\ Cafe\ Light\ Italic.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Louis George Cafe';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/louis-george-cafe/Louis\ George\ Cafe.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Louis George Cafe';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/louis-george-cafe/Louis\ George\ Cafe\ Italic.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Louis George Cafe';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/louis-george-cafe/Louis\ George\ Cafe\ Bold.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Louis George Cafe';
    font-style: italic;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/louis-george-cafe/Louis\ George\ Cafe\ Bold\ Italic.ttf) format(truetype);
  }

  /* FONT COOLVETICA */
  @font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 100;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaUl-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: italic;
    font-weight: 100;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaUl-Italic.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 200;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaEl-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: italic;
    font-weight: 200;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaEl-Italic.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaLt-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: italic;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaLt-Italic.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaBk-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaBk-Italic.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaRg-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: italic;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaRg-Italic.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaRg-Bold.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: italic;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaRg-BoldItalic.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaHv-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: 'Coolvetica';
    font-style: italic;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/coolvetica/CoolveticaHv-Italic.ttf) format(truetype);
  }
}

.rbc-calendar {
  
}

.rbc-toolbar {
  @apply [@media(width_<=_767px)]:!flex-row !flex-nowrap gap-2
}

.rbc-toolbar-label {
  @apply text-white text-lg sm:text-2xl capitalize !text-left !px-0 order-first
}

.rbc-toolbar {
  @apply !text-sm sm:!text-base
}

.rbc-toolbar button {
  @apply !text-white hover:!bg-secondary-2 transition !px-2 !py-1 active:!bg-secondary-1
}

.rbc-toolbar button:focus {
  @apply !bg-secondary-2
}

button.rbc-active {
  @apply !bg-secondary-1
}

.rbc-month-view {
  @apply !border-0 !border-b !border-[#1E1E1E]
}

.rbc-header {
  @apply bg-primary-5 text-white !text-xs sm:!text-base !text-left !font-normal uppercase !p-1 sm:!p-2 !border-0 !border-x-[0.5px] !border-[#E8E8E8]
}

.rbc-month-header {
  @apply !border-x border-t-2 border-[#E8E8E8] border-b-[0.5px] border-b-[#1E1E1E]
}

.rbc-today {
  @apply !bg-secondary-1/50
}

.rbc-button-link {
  @apply leading-0 w-7 h-7
}

.rbc-button-link:hover {
  @apply text-secondary-2 transition
}

.rbc-show-more {
  @apply w-fit !leading-5
}

.rbc-show-more:hover {
  @apply inset-shadow-[20px_20px_9999px,_-20px_-20px_9999px] inset-shadow-black/15
}

.rbc-now .rbc-button-link {
  @apply bg-primary-3 rounded-full
}

.rbc-day-bg {
  @apply bg-primary-4/53 border-x-[0.5px] !border-[#1E1E1E]
}

.rbc-row-bg {
  @apply !right-0
}

.rbc-off-range-bg {
  @apply !bg-[#F8F8F8]/50
}

.rbc-off-range{
  @apply !text-black/50
}

.rbc-month-row {
  @apply !border-y-[0.5px] border-x !border-[#1E1E1E]
}

.rbc-date-cell {
  @apply text-white !text-left p-1
}

.rbc-event {
  @apply !rounded-[18px] !px-4 !py-1 transition
}

.rbc-event:hover {
  @apply inset-shadow-[20px_20px_9999px,_-20px_-20px_9999px] inset-shadow-black/15
}

.rbc-show-more {
  @apply !text-white !font-normal !px-1
}

.rbc-label {
  @apply text-white
}

.rbc-current-time-indicator {
  @apply !bg-green-400 !h-1
}
